PORT= 8000
CORS_ORIGIN = *
MONGODB_URI = mongodb+srv://lokhanderohit2020:dYLxNHuEAiLN95CAJ@cluster0.6phpy.mongodb.net

ACCESS_TOKEN_SECRET=chai-aur-code
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=chai-aur-backend
REFRESH_TOKEN_EXPIRY=10d


CLOUDINARY_CLOUD_NAME = dgga480kz
CLOUDINARY_API_KEY = 846831235626871
CLOUDINARY_API_SECRET = 6613KGsOb8_wkie1QFBd6u6Rq48